<div class="rott_">

  <div class="container">
    <h2>Work Board</h2>
    <div>Title</div>
    <input [(ngModel)]="obj.title" />
    <div>Description</div>
    <input [(ngModel)]="obj.description" />
    <div>Date</div>
    <input type="date" [(ngModel)]="obj.dueDate" />
    <div>Priority Level</div>
    <select name="singleSelect" id="singleSelect" [(ngModel)]="obj.priorityLevel">
      <option value="low" selected>low</option>
      <option value="mid">mid</option>
      <option value="high">high</option>
    </select>
    <ion-button color="success" fill="outline" (click)="addTodo()">Add Task</ion-button>

  </div>


  <div class="boxes">
      <div class="task_" *ngFor="let todo of allTodos$ | async">
        <div>{{todo.title}}</div>
        <div>{{todo.description}}</div>
        <div>{{todo.dueDate}}</div>
        <div>{{todo.priorityLevel}}</div>
        <div>{{todo.status}}</div>
        <div (click)="removeTodo(todo)"> {{'X'}} </div>
        <div class="status_">
          <div class="status" *ngFor="let s of statusArr">
            <div *ngIf="s!=todo.status" (click)="ChangeStatus(todo,s)"> {{s}} </div>
          </div>
      </div>
    </div>


  </div>
</div>